<section data-ng-controller="PurchasesController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>View Purchase</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/purchases">Purchases</a>
          </li>
          <li class="active">
            <strong>Purchases</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <!-- general form elements -->
  <!-- <div class="ibox float-e-margins"  data-ng-show="((authentication.user) && (authentication.user._id == purchase.user._id))"> -->
  <div class="ibox float-e-margins" >
    <div class="ibox-content">    
      <div class="row">
      <dl class="dl-horizontal">
      
      
        <dt>Bill Number </dt><dd>{{ purchase.billNumber }}</dd>
      
      
      
      
        <dt>Bill Date </dt><dd>{{ purchase.billDate | date  }}</dd>
      
      
      
      
      
        <dt>Party </dt><dd>{{ purchase.party.name}}</dd>
      
      
      
        <dt>Paid </dt><dd>{{ purchase.paid  | yesNo }}</dd>
      
      
      
      
        <dt>Amount </dt><dd>{{ purchase.amount }}</dd>
      
      
      
      
      
      
      </dl>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
        <div class="col-md-12 form-group">
          <label class="control-label" for="items">Items</label>                
          <table class="table">
            <thead>
            <tr>
            <th>S.No</th>
            
             
            <th>Product</th>
            
            
             
            <th>Quantity</th>
            
            
             
            <th>Cost</th>
            
            
             
            <th>Amount</th>
            
            
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in purchase.items">
            <td>{{ $index +1 }}</td>
            
            
            
            <td>{{ item.product.name }}</td>
                         
            
            
            <td>{{ item.quantity  }}</td>
            
                         
            
            
            <td>{{ item.cost  }}</td>
            
                         
            
            
            <td>{{ item.amount  }}</td>
            
                         
            
            </tr>
            </tbody>
            <tfoot>
            
            
            
            
            
            
            
            
                        
            </tfoot>
          </table>
        </div>
      
      
      
      </div>
      <div class="row">
        <div>
          <a class="btn btn-primary" href="/#!/purchases/{{purchase._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>              
      </div>
    </div><!-- /.ibox-content -->
  </div><!-- /.ibox -->
  
      
  
      
  
      
  
      
  
      
  
      
    
<section>